<!--DA DECOMMENTARE PER SPID-->
<!--!DOCTYPE HTML>
<html lang="it" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      th:with="title=#{page.home.title}">

<head th:substituteby="page/fragments/headTag :: headTag">

    <title></title>
</head>

<body onload='document.f.j_username.focus();'>
<div class="container" id="page_top">

    <div th:substituteby="page/fragments/navbarTag :: navbarTag"></div>

    <div class="col-lg-4 col-md-3 col-sm-2 col-xs-1"></div>
    <div class="login-container col-lg-4 col-md-6 col-sm-8 col-xs-10">

        <div class="row row-container">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6" style="text-align: center">
                        <img class="img-circle" th:src="@{/resources/img/spid.jpg}" alt="Generic placeholder image"
                             style="width: 140px; height: 140px;"/>
                        <h3><a href="#" th:href="@{${T(app.App).SPID}}">SPID</a></h3>
                        <p>Accedi tramite Spid</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-3 col-sm-2 col-xs-1"></div>
</div>


<footer th:substituteby="page/fragments/footerTag :: footerTag"/>
</body>
</html-->


<!--DA DECOMMENTARE PER LOGIN SEMPLICE -->
<!DOCTYPE HTML>
<html lang="it" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      th:with="title=#{page.home.title}">

<head th:substituteby="page/fragments/headTag :: headTag">

    <title></title>
</head>

<body onload='document.f.j_username.focus();'>
<div class="container" id="page_top">

    <div th:substituteby="page/fragments/navbarTag :: navbarTag"></div>

    <div class="col-lg-4 col-md-3 col-sm-2 col-xs-1"></div>
    <div class="login-container col-lg-4 col-md-6 col-sm-8 col-xs-10">

        <div class="row row-container">
            <form name='f' th:action="@{/j_spring_security_check}"
                  method='POST'>
                <h4 style="border-bottom: 1px solid rgb(204, 204, 204); text-align: center; text-transform: uppercase; line-height: 40px;">Accedi con le tue credenziali</h4>

                <div class="login-fields">
                    <div class="">
                        <label for="username">Username:</label>
                        <input type="text" name="j_username" value=""  placeholder="Username" class="form-control"/>
                    </div>
                    <div class="">
                        <label for="password">Password:</label>
                        <input type="password" name="j_password" value=""
                               placeholder="Password"  class="form-control" />
                    </div>
                </div><br/>
                <div class="login-actions text-center">
                    <button class="btn btn-primary">
                        <span class="glyphicon glyphicon-log-in"></span>&nbsp;&nbsp;
                        Accedi
                    </button>
                </div>
            </form>

        </div>
        <div class="container login-extra">
            Non hai un account? <a href="#">Registrati</a><br/>
            Recupera <a href="#">Password</a>
        </div>
    </div>
    <div class="col-lg-4 col-md-3 col-sm-2 col-xs-1"></div>
</div>
<footer th:substituteby="page/fragments/footerTag :: footerTag"/>
</body>
</html>