<!DOCTYPE HTML>
<html lang="it" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      th:with="title=#{page.home.title}">

<head th:substituteby="page/fragments/headTag :: headTag">

    <title></title>
</head>

<body>
<div class="container-fluid" id="page_top">

    <div th:substituteby="page/fragments/navbarTag :: navbarTag"></div>

    <div class="row row-offcanvas row-offcanvas-left row-container">
        <div th:substituteby="page/fragments/breadcrumbTag :: breadcrumbMenu"></div>

        <div class="col-md-9">
            <div class="panel panel-default no-border-radius">
                <div class="panel-heading"><i class="fa fa-building-o" aria-hidden="true"></i>&nbsp;&nbsp;Ricerca
                    Tributi
                </div>

                <div class="panel-body" th:classappend="${(null != sresults  and !sresults.empty) ? 'hidden' : ''}">
                    <form th:action="@{${T(app.App).SEARCH}}" class="form-horizontal" th:object="${filter}"
                          method="post" sec:authorize="${isAuthenticated()}">


                        <div class="alert alert-success" th:unless="${#strings.isEmpty(message)}">
                            <span th:text="${message}"></span>
                        </div>
                        <div class="alert alert-danger" th:unless="${#strings.isEmpty(error)}">
                            <span th:text="${error}"></span>
                        </div>
                        <input type="hidden" class="form-control" th:field="*{tipo}"/>
                        <div class="row">
                            <div class="form-group  col-md-5 col-md-push-1" >
                                <label for="applicazione" class="control-label">Applicazione</label>
                                <div>
                                    <select th:field="*{codice}" class="form-control">
                                        <option th:each="applicazione : ${applicazioni}"
                                                th:value="${applicazione.codice}"
                                                th:text="${applicazione.codice}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group  col-md-5 col-md-push-2" >
                                <label for="enti" class="control-label">Ente</label>
                                <div>
                                    <select th:field="*{codDominio}" class="form-control">
                                        <option th:each="ente : ${enti}"
                                                th:value="${ente.codDominio}" th:text="${ente.name}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 text-center">
                            <button class="btn btn-primary" type="submit">
                                Avvia la ricerca
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-9" th:if="${!sresults.empty}">
            <div class="panel panel-default no-border-radius">
                <div class="panel-heading"><i class="fa fa-building-o" aria-hidden="true"></i>&nbsp;&nbsp;Risultati
                    Ricerca
                    <div>

                        <a th:unless="${#lists.isEmpty(sresults)}" class="btn btn-warning btn-sm"
                           th:href="@{${T(app.App).SEARCH_FLUSSI}}">
                            Nuova ricerca
                        </a>
                    </div>
                </div>

                <table class="table storico table-condensed table-striped table-bordered table-hover table-responsive"
                       th:unless="${#lists.isEmpty(sresults)}">
                    <thead>
                    <tr class="info">
                        <th >Codice Flusso</th>
                        <th >Codice PSP</th>
                        <th >Stato</th>
                        <th>TRN(ex iur)</th>
                        <th >Importo totale</th>
                        <th >Data</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="sr : ${sresults.records}">
                        <td th:text="${sr.codFlusso}"></td>
                        <td th:text="${sr.codPsp}"></td>
                        <td th:text="${sr.stato}"></td>
                        <td th:text="${sr.trn}"></td>
                        <td th:text="${sr.importoTotale}"></td>
                        <td th:text="${sr.dataFlusso}"></td>
                    </tr>

                    </tbody>
                </table>

                <div class="panel-body" th:if="${#lists.isEmpty(sresults)}">
                    Nessun ente presente.
                </div>
            </div>

        </div>

    </div>
</div>
<footer th:substituteby="page/fragments/footerTag :: footerTag"/>


</body>
</html>
