<!DOCTYPE HTML>
<html lang="it" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      th:with="title=#{page.home.title}">

<head th:substituteby="page/fragments/headTag :: headTag">

    <title></title>
</head>

<body>
<div class="container-fluid" id="page_top">

    <div th:substituteby="page/fragments/navbarTag :: navbarTag"></div>

    <div class="row row-offcanvas row-offcanvas-left row-container">

        <div th:substituteby="page/fragments/breadcrumbTag :: breadcrumbMenu"></div>

        <div class="col-md-9">
            <div class="col-md-4" sec:authorize="hasRole('ROLE_ADMIN')">
                <article class="panel panel-default">
                    <div class="panel-body">
                        <h4>Enti abilitati</h4>
                        <p class="grigio-40-color"><i class="fa fa-4x fa-building-o pull-left"
                                                      aria-hidden="true"></i>Sezione adibita alla gestione degli enti </p>
                        <div class="box_tools clearfix">
                            <ul>
                                <li class="pull-right">
                                    <a href="#" th:href="@{${T(app.App).ENTI}}" title="Visualizza tutti"><i
                                            class="fa fa-circle-thin fa-stack-2x"></i><i
                                            class="fa fa-angle-double-right"></i></a>
                                </li>
                                <li class="pull-right">
                                    <a href="#" th:href="@{${T(app.App).ENTE}}"
                                       title="Aggiungi un nuovo elemento"><i
                                            class="fa fa-circle-thin fa-stack-2x"></i><i class="fa fa-plus"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-md-4" sec:authorize="hasRole('ROLE_ADMIN')">
                <article class="panel panel-default">
                    <div class="panel-body">
                        <h4>Tipologie di pagamento</h4>
                        <p class="grigio-40-color"><i class="fa fa-4x fa-money pull-left" aria-hidden="true"></i>Sezione adibita alla gestione della tipologia di tributi </p>
                        <div class="box_tools clearfix">
                            <ul>
                                <li class="pull-right">
                                    <a href="#" th:href="@{${T(app.App).TIPOLOGIE}}" title="Visualizza tutti"><i
                                            class="fa fa-circle-thin fa-stack-2x"></i><i
                                            class="fa fa-angle-double-right"></i></a>
                                </li>
                                <li class="pull-right">
                                    <a href="#"
                                       th:href="@{${T(app.App).TIPOLOGIA}}" title="Aggiungi un nuovo elemento"><i
                                            class="fa fa-circle-thin fa-stack-2x"></i><i class="fa fa-plus"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-md-4" sec:authorize="hasRole('ROLE_ADMIN') || hasRole('ROLE_DIR')">
                <article class="panel panel-default">
                    <div class="panel-body">
                        <h4>Lista tributi</h4>
                        <p class="grigio-40-color"><i class="fa fa-4x fa-tasks pull-left" aria-hidden="true"></i>Sezione adibita alla gestione dei tributi abilitati</p>
                        <div class="box_tools clearfix">
                            <ul>
                                <li class="pull-right">
                                    <a href="#" th:href="@{${T(app.App).TRIBUTI}}" title="Visualizza tutti"><i
                                            class="fa fa-circle-thin fa-stack-2x"></i><i
                                            class="fa fa-angle-double-right"></i></a>
                                </li>
                                <li class="pull-right">
                                    <a href="#" th:href="@{${T(app.App).TRIBUTO}}"
                                       title="Aggiungi un nuovo elemento"><i
                                            class="fa fa-circle-thin fa-stack-2x"></i><i class="fa fa-plus"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-md-4" sec:authorize="hasRole('ROLE_ADMIN')">
                <article class="panel panel-default">
                    <div class="panel-body">
                        <h4>Provider abilitati</h4>
                        <p class="grigio-40-color"><i class="fa fa-4x fa-credit-card pull-left"
                                                      aria-hidden="true"></i>Sezione adibita alla gestione dei provider </p>
                        <div class="box_tools clearfix">
                            <ul>
                                <li class="pull-right">
                                    <a href="#" th:href="@{${T(app.App).PROVIDERS}}" title="Visualizza tutti"><i
                                            class="fa fa-circle-thin fa-stack-2x"></i><i
                                            class="fa fa-angle-double-right"></i></a>
                                </li>
                                <li class="pull-right">
                                    <a href="#" th:href="@{${T(app.App).PROVIDER}}"
                                       title="Aggiungi un nuovo elemento"><i
                                            class="fa fa-circle-thin fa-stack-2x"></i><i class="fa fa-plus"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-md-4" sec:authorize="hasRole('ROLE_ADMIN')">
                <article class="panel panel-default">
                    <div class="panel-body">
                        <h4>Utenti registrati</h4>
                        <p class="grigio-40-color"><i class="fa fa-4x fa-users pull-left"
                                                      aria-hidden="true"></i>Sezione adibita alla gestione degli utenti </p>
                        <div class="box_tools clearfix">
                            <ul>
                                <li class="pull-right">
                                    <a href="#" th:href="@{${T(app.App).SEARCH_USERS}}" title="Visualizza tutti"><i
                                            class="fa fa-circle-thin fa-stack-2x"></i><i
                                            class="fa fa-angle-double-right"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-md-4" sec:authorize="hasRole('ROLE_ADMIN')">
                <article class="panel panel-default">
                    <div class="panel-body">
                        <h4>Applicazioni integrate</h4>
                        <p class="grigio-40-color"><i class="fa fa-4x fa-gg pull-left"
                                                      aria-hidden="true"></i>Sezione adibita alla gestione delle applicazioni </p>
                        <div class="box_tools clearfix">
                            <ul>
                                <li class="pull-right">
                                    <a href="#" th:href="@{${T(app.App).SEARCH_APPLICAZIONI}}" title="Visualizza tutte"><i
                                            class="fa fa-circle-thin fa-stack-2x"></i><i
                                            class="fa fa-angle-double-right"></i></a>
                                </li>
                                <li class="pull-right">
                                    <a href="#" th:href="@{${T(app.App).APPLICAZIONE}}"
                                       title="Aggiungi un nuovo elemento"><i
                                            class="fa fa-circle-thin fa-stack-2x"></i><i class="fa fa-plus"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </article>
            </div>


        </div>
    </div>
</div>

<footer th:substituteby="page/fragments/footerTag :: footerTag"/>
</body>
</html>