<!DOCTYPE HTML>
<html lang="it" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      th:with="title=#{page.home.title}">

<head th:substituteby="page/fragments/headTag :: headTag">

    <title></title>
</head>

<body>
<div class="container-fluid" id="page_top">

    <div th:substituteby="page/fragments/navbarTag :: navbarTag"></div>

    <div class="row row-offcanvas row-offcanvas-left row-container">
        <div th:substituteby="page/fragments/breadcrumbTag :: breadcrumbMenu"></div>


        <div class="col-md-9">
            <div class="panel panel-default no-border-radius">
                <div class="panel-heading"><i class="fa fa-building-o" aria-hidden="true"></i>&nbsp;&nbsp;Ricerca
                    Pagamenti
                </div>

                <div class="panel-body" th:classappend="${(null != sresults  and !sresults.empty) ? 'hidden' : ''}">
                    <form th:action="@{${T(app.App).SEARCH}}" class="form-horizontal" th:object="${filter}"
                          method="post" sec:authorize="${isAuthenticated()}">

                        <div class="alert alert-warning" th:if="${#fields.hasErrors('*')}">
                            <ul>
                                <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
                            </ul>
                        </div>

                        <div class="alert alert-success" th:unless="${#strings.isEmpty(message)}">
                            <span th:text="${message}"></span>
                        </div>
                        <div class="alert alert-danger" th:unless="${#strings.isEmpty(error)}">
                            <span th:text="${error}"></span>
                        </div>
                        <div class="row">
                            <div class="form-group  col-md-5 col-md-push-1 ">
                                <label for="tipologia" class="control-label">Tipologia</label>
                                <div>
                                    <select th:field="*{tipo}" class="form-control">
                                        <option value="TRIB">Pagamento</option>
                                    </select>
                                </div>

                            </div>
                            <div class="form-group  col-md-5 col-md-push-2 ">
                                <label for="iuv" class="control-label">IUV Pagamento</label>
                                <div>
                                    <input type="text" class="form-control" th:field="*{iuv}"/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group  col-md-5 col-md-push-1">
                                <label for="dataPagamento" class="control-label">Data Pagamento</label>
                                <div>
                                    <input type="text" class="form-control datepicker" th:field="*{dataPagamento}"/>
                                </div>
                            </div>
                            <div class="form-group  col-md-5 col-md-push-2">
                                <label for="codiceFiscale" class="control-label">Codice Fiscale</label>
                                <div>
                                    <input type="text" class="form-control" th:field="*{codiceFiscale}"/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group  col-md-5 col-md-push-1" >
                                <label for="nome" class="control-label">Nome</label>
                                <div>
                                    <input type="text" class="form-control" th:field="*{nome}"/>
                                </div>
                            </div>
                            <div class="form-group  col-md-5 col-md-push-2" >
                                <label for="cognome" class="control-label">Cognome</label>
                                <div>
                                    <input type="text" class="form-control" th:field="*{cognome}"/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group  col-md-5 col-md-push-1" >
                                <label for="tributo" class="control-label">Pagamento</label>
                                <div>
                                    <select th:field="*{tributo}" class="form-control">
                                        <option value=""></option>
                                        <option th:each="tributo : ${tributi}"
                                                th:value="${tributo.id}" th:text="${tributo.nome}"></option>
                                    </select>
                                </div>
                            </div>
                            <!--div class="form-group col-lg-12 col-md-12 col-sm-12" sec:authorize="hasRole('ROLE_ADMIN')">
                                <label for="targa" class="control-label">Targa</label>
                                <div>
                                    <input type="text" class="form-control" th:field="*{targa}"/>
                                </div>
                            </div>
                            <div class="form-group col-lg-12 col-md-12 col-sm-12" sec:authorize="hasRole('ROLE_ADMIN')">
                                <label for="verbale" class="control-label">Verbale</label>
                                <div>
                                    <input type="text" class="form-control" th:field="*{verbale}"/>
                                </div>
                            </div-->
                            <div class="form-group  col-md-5 col-md-push-2" >
                                <label for="causale" class="control-label">Causale</label>
                                <div>
                                    <input type="text" class="form-control" th:field="*{causale}"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 text-center">
                            <button class="btn btn-primary" type="submit">
                                Avvia la ricerca
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <div class="col-md-9" th:if="${!sresults.empty}">
            <div class="panel panel-default no-border-radius">
                <div class="panel-heading"><i class="fa fa-building-o" aria-hidden="true"></i>&nbsp;&nbsp;Risultati
                    Ricerca
                    <div>
                        <a th:unless="${#lists.isEmpty(sresults)}" class="btn btn-danger btn-sm"
                           th:href="@{|${T(app.App).PAGAMENTO_SEARCH_PRINT}|}">
                            Stampa
                        </a>
                        <a th:unless="${#lists.isEmpty(sresults)}" class="btn btn-warning btn-sm"
                           th:href="@{${T(app.App).SEARCH}}">
                            Nuova ricerca
                        </a>
                    </div>
                </div>
                <table class="table storico table-condensed table-striped table-bordered table-hover table-responsive"
                       th:unless="${#lists.isEmpty(sresults)}">
                    <thead>
                    <tr class="info">
                        <th>ID</th>
                        <th>IUV</th>
                        <th>Importo</th>
                        <th>Beneficiario</th>
                        <th>Data</th>
                        <th>Stato</th>
                        <th th:if="${filter.tipo == 'TRIB'}">Pagamento</th>
                        <th th:if="${filter.tipo == 'CONTR'}">Targa</th>
                        <th th:if="${filter.tipo == 'CONTR'}">Verbale</th>
                        <th th:if="${filter.tipo == 'CONTR'}">Data Infrazione</th>
                        <th>Operazioni</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="sr : ${sresults.records}">
                        <td th:text="${sr.pid}"></td>
                        <td th:text="${sr.iuv}"></td>
                        <td class="text-right"><span
                                th:text="${#numbers.formatDecimal(sr.importo, 1,'POINT',2,'COMMA')}"></span> &euro;</td>
                        <td th:text="|${sr.esecutore.firstname} ${sr.esecutore.lastname}|"></td>
                        <td th:text="${#dates.format(sr.dataPagamento, 'dd/MM/yyyy')}"></td>
                        <td th:text="${sr.statoPagamento}"></td>
                        <td th:if="${filter.tipo == 'TRIB'}" th:text="${sr.tributo.nome}"></td>
                        <td th:if="${filter.tipo == 'CONTR'}" th:text="${sr.targa}"></td>
                        <td th:if="${filter.tipo == 'CONTR'}" th:text="${sr.verbale}"></td>
                        <td th:if="${filter.tipo == 'CONTR'}"
                            th:text="${#dates.format(sr.dataInfrazione, 'dd/MM/yyyy')}"></td>
                        <td class="text-center">
                            <table>

                                <tr>
                                    <td><a th:title="#{pagamento.dettaglio}"
                                           th:href='@{|${T(app.App).PAGAMENTO_SPONTANEO +"?pid=" + sr.pid}|}'
                                           class="btn btn-primary btn-sm" target="_blank">
                                        <i class="fa fa-info" aria-hidden="true"></i>
                                    </a></td>
                                    <td><a th:title="#{pagamento.ricevuta}"
                                           th:href="@{|${T(app.App).PAGAMENTO_PRINT}/${sr.id}|}"
                                           th:if="${sr.statoPagamento == 'ESEGUITO'}"
                                           class="btn btn-info btn-sm" target="_blank">
                                        <i class="fa fa-print" aria-hidden="true"></i>
                                    </a></td>
                                    <td><a th:title="#{pagamento.print.rt}"
                                           th:href="@{|${T(app.App).PAGAMENTO_RT}/${sr.id}|}"
                                           th:if="${sr.iuv != null}"
                                           class="btn btn-danger btn-sm" target="_blank">
                                        <i class="fa fa-download" aria-hidden="true"></i>
                                    </a></td>
                                    <td><a th:title="#{pagamento.view.rt}"
                                           th:href="@{|${T(app.App).PAGAMENTO_VIEW_RT}/${sr.id}|}"
                                           th:if="${sr.iuv != null}"
                                           class="btn btn-warning btn-sm" target="_blank">
                                        <i class="fa fa-share-square-o" aria-hidden="true"></i>
                                    </a></td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    </tbody>

                    <!--div th:substituteby="page/fragments/paginatorTag :: paginatorTag(${page})"></div-->
                </table>
            </div>

        </div>


    </div>
</div>
<footer th:substituteby="page/fragments/footerTag :: footerTag"/>
<script type="text/javascript">
    $("#tipo").change(function () {

        var _tipo = $('#tipo').val();
        if (_tipo === "CONTR") {
            $('#tributo-box').hide();
            $('#targa-box').show();
            $('#verbale-box').show();
        } else {
            $('#tributo-box').show();
            $('#targa-box').hide();
            $('#verbale-box').hide();
        }

    }).trigger('change');
</script>

</body>
</html>

