<!DOCTYPE HTML>
<html lang="it" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      th:with="title=#{page.home.title}">

<head th:substituteby="page/fragments/headTag :: headTag">

    <title></title>
</head>

<body>
<div class="container-fluid" id="page_top">

    <div th:substituteby="page/fragments/navbarTag :: navbarTag"></div>

    <div class="row row-offcanvas row-offcanvas-left row-container">
        <div th:substituteby="page/fragments/breadcrumbTag :: breadcrumbMenu"></div>


        <div class="col-md-9">
            <div class="panel panel-default no-border-radius">
                <div class="panel-heading"><i class="fa fa-building-o" aria-hidden="true"></i>&nbsp;&nbsp;Tributi<a
                        th:href="@{${T(app.App).TIPOLOGIA}}" class="pull-right btn btn-primary btn-xs">
                    Aggiungi nuovo
                </a></div>
                <table class="table storico table-condensed table-striped table-bordered table-hover table-responsive"
                       th:unless="${#lists.isEmpty(tipologie)}">
                    <thead>
                    <tr class="info">
                        <th>Nome</th>
                        <th>Descrizione</th>
                        <th>Codice radice</th>
                        <th>Tipo</th>
                        <th>Operazioni</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="tipologia : ${tipologie}">
                        <td th:text="${tipologia.nome}"></td>
                        <td th:text="${tipologia.descrizione}"></td>
                        <td th:text="${tipologia.codiceRadice}"></td>
                        <td th:text="${tipologia.tipo}"></td>
                        <td class="text-center">
                            <a th:href="@{|${T(app.App).TIPOLOGIA}/${tipologia.id}|}" class="btn btn-warning btn-sm">
                                Modifica
                            </a>
                            <a class="btn btn-danger btn-sm" th:href="@{|${T(app.App).TIPOLOGIA}/${tipologia.id}|(op=D)}">
                                Elimina
                            </a>
                        </td>
                    </tr>

                    </tbody>
                </table>

                <div class="panel-body" th:if="${#lists.isEmpty(tipologie)}">
                    Nessun ente presente.
                </div>
            </div>
            <div th:substituteby="page/fragments/paginatorTag :: paginatorTag(${page})"></div>
        </div>

        <!--div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="glyphicon glyphicon-th-list"></i>&nbsp;&nbsp;TIPOLOGIE
                        <a class="pull-right btn btn-info btn-xs" th:href="@{${T(app.App).TIPOLOGIA}}">
                            <i class="glyphicon glyphicon-plus"></i> Nuova
                        </a>
                    </div>

                    <table class="table table-condensed table-striped table-bordered table-hover table-responsive" th:unless="${#lists.isEmpty(tipologie)}">
                        <tr class="info">
                            <th>Nome</th>
                            <th>Descrizione</th>
                            <th>Codice radice</th>
                            <th>Tipo</th>
                            <th></th>
                        </tr>
                        <tr th:each="tipologia : ${tipologie}">
                            <td th:text="${tipologia.nome}"></td>
                            <td th:text="${tipologia.descrizione}"></td>
                            <td th:text="${tipologia.codiceRadice}"></td>
                            <td th:text="${tipologia.tipo}"></td>
                            <td class="text-center">
                                <a class="btn btn-primary btn-xs" th:href="@{|${T(app.App).TIPOLOGIA}/${tipologia.id}|}">
                                    <i class="glyphicon glyphicon-edit"></i> Apri
                                </a>
                                &nbsp;&nbsp;&nbsp;
                                <a class="btn btn-danger btn-xs" th:href="@{|${T(app.App).TIPOLOGIA}/${tipologia.id}|(op=D)}">
                                    <i class="glyphicon glyphicon-remove"></i> Elimina
                                </a>
                            </td>
                        </tr>
                    </table>

                    <div class="panel-body" th:if="${#lists.isEmpty(tipologie)}">
                        Nessuna tipologia presente.
                    </div>

                </div>
            </div>

            <div th:substituteby="page/fragments/paginatorTag :: paginatorTag(${page})"></div>

            <hr/>

            <footer th:substituteby="page/fragments/footerTag :: footerTag" />

        </div-->
    </div>

</div>
<footer th:substituteby="page/fragments/footerTag :: footerTag"/>

</body>
</html>