<!DOCTYPE HTML>
<html lang="it" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      th:with="title=#{page.home.title}">

<head th:substituteby="page/fragments/headTag :: headTag">

    <title></title>
</head>

<body>
<div class="container" id="page_top">

    <div th:substituteby="page/fragments/navbarTag :: navbarTag"></div>

    <div class="row row-container">
        <div class="col-lg-12 col-md-12">
            <br class="hidden-xs hidden-sm"/>
            <p></p>
        </div>
        <form th:action="@{|${T(app.App).PAGAMENTO_STORICO_SEARCH}|}" class="form-inline col-lg-12 col-md-12"  method="post">
            <label class="control-label " for="cerca">Ricerca per IUV:</label>
            <input type="text" class="form-control" id="iuv" name="iuv"/>
            <button th:title="#{pagamento.ricerca}" class="btn btn-info btn-sm">
                <i class="fa fa-search" aria-hidden="true"></i>
            </button>
        </form>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="alert alert-success" th:unless="${#strings.isEmpty(message)}">
                <span th:text="${message}"></span>
            </div>
            <div class="alert alert-danger" th:unless="${#strings.isEmpty(error)}">
                <span th:text="${error}"></span>
            </div>
            <table th:unless="${#lists.isEmpty(pagamenti)}" class="table storico table-condensed table-striped table-bordered table-hover table-responsive">
                <thead>
                <tr class="info">
                    <th>Data Pagamento</th>
                    <th>Causale (<i>Ente - Pagamento</i>)</th>
                    <th>&numero; Operazione</th>
                    <th>IUV</th>
                    <th>Importo</th>
                    <th>Stato Pagamento</th>
                    <th>Dettagli</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="pagamento : ${pagamenti}">
                    <td th:text="${#dates.format(pagamento.dataPagamento, 'dd/MM/yyyy HH:mm:ss')}"></td>
                    <td th:text='${pagamento.causale + " - (" + pagamento.ente.name + " - "+ pagamento.tributo.nome+")"}'></td>
                    <td th:text='${pagamento.pid}'></td>
                    <td th:text='${pagamento.iuv}'></td>
                    <td style="text-align: right;" th:text='${#numbers.formatDecimal(pagamento.importo, 1,"POINT",2,"COMMA")}'></td>
                    <td th:text='${pagamento.statoPagamento}'></td>
                    <td class="text-center">
                        <table>
                            <tr>
                            <td><a th:title="#{pagamento.dettaglio}"  th:href='@{|${T(app.App).PAGAMENTO_SPONTANEO +"?pid=" + pagamento.pid}|}' class="btn btn-primary btn-sm" target="_blank">
                            <i class="fa fa-info" aria-hidden="true"></i>
                            </a></td>
                                <td> <a th:title="#{pagamento.ricevuta}"  th:href="@{|${T(app.App).PAGAMENTO_PRINT}/${pagamento.id}|}"
                           class="btn btn-info btn-sm" target="_blank"
                           th:if="${pagamento.statoPagamento == 'ESEGUITO'}">
                            <i class="fa fa-print" aria-hidden="true"></i>
                            </a></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
            <div th:substituteby="page/fragments/paginatorTag :: paginatorTag(${page})"></div>
            <div class="panel-body" th:if="${#lists.isEmpty(pagamenti)}">
                Nessuna pagamento presente.
            </div>
        </div>

    </div>
</div>
<footer th:substituteby="page/fragments/footerTag :: footerTag"/>
<a href="#page_top" title="torna all'inizio del contenuto" class="scrollto_top sr-only"><span></span></a>
</body>
</html>
