<!DOCTYPE HTML>
<html lang="it" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      th:with="title=#{page.home.title}">

<head th:substituteby="page/fragments/headTag :: headTag">

    <title></title>
</head>

<body>
<div class="container" id="page_top">

    <div th:substituteby="page/fragments/navbarTag :: navbarTag"></div>


    <div class="row row-container">
        <div class="col-lg-12 col-md-12">
            <br class="hidden-xs hidden-sm"/>
            <p></p>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h5 class="blu-italia-base-color no-margin-top">Anagrafica del Debitore</h5>
                    <div class="media">
                        <div class="media-left media-middle">
                            <img class="media-object" th:src="@{/resources/css/img/user.png}" alt="User sample"/>
                        </div>
                        <div class="media-body">
                            <p th:inline="text"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;
                                [[${session.ulogged.firstname}]] [[${session.ulogged.lastname}]]</p>
                            <p th:inline="text"><i class="fa fa-credit-card" aria-hidden="true"></i>&nbsp;[[${session.ulogged.fiscalcode}]]
                            </p>
                            <p th:inline="text"><i class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp;[[${session.ulogged.email}]]
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <h5 class="blu-italia-base-color no-margin-top">Stato del Pagamento</h5>
                    <div>
                        <blockquote><p>In attesa di scelta del WISP</p></blockquote>
                    </div>
                    <hr/>
                    <div class="form-group col-lg-12 col-md-12 col-sm-12 text-center" style="display: none">
                        <form action="http://serviziclienti.link.it/govpay-ndp-sym/wisp.jsp"
                              class="form-horizontal form-horizontal-tributo"
                              th:object="${pagamento}" method="post" id="formWisp">


                            <input type="hidden" id="idDominio" name="idDominio" th:value="${codDominio}"/>
                            <input type="hidden" id="keyPA" name="keyPA" th:value="*{pid}"/>

                            <input type="hidden" id="urlBack" name="urlBack" th:value="${urlBack}"/>
                            <input type="hidden" id="urlReturn" name="urlReturn" th:value="${urlReturn}"/>

                            <input type="hidden" id="enteCreditore" name="enteCreditore" th:value="*{ente.name}"/>
                            <input type="hidden" id="primitiva" name="primitiva" value="nodoInviaRPT"/>
                            <input type="hidden" id="numPagamentiRPT" name="numPagamentiRPT" value="1"/>
                            <input type="hidden" id="stornoPagamento" name="stornoPagamento" value="SI"/>
                            <input type="hidden" id="bolloDigitale" name="bolloDigitale" value="NO"/>
                            <input type="hidden" id="terzoModelloPagamento" name="terzoModelloPagamento" value="NO"/>


                            <div class="form-group">
                                <button class="btn btn-warning">
                                    <i class="glyphicon glyphicon-eur" aria-hidden="true"></i> Scegli il WISP
                                </button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
            <!--div class="panel panel-default">
                <div class="panel-body">
                    <h5 class="blu-italia-base-color no-margin-top">Flusso del pagamento</h5>
                    <p><i id="ente-icon" class="glyphicon glyphicon-minus" aria-hidden="true"></i> Seleziona un Ente
                    </p>
                    <div id="ente-desc"></div>
                    <hr/>
                    <p><i id="tributo-icon" class="glyphicon glyphicon-minus" aria-hidden="true"></i> Seleziona un
                        Tributo</p>
                    <div id="tributo-desc"></div>
                    <hr/>
                    <p><i id="rata-icon" class="glyphicon glyphicon-minus" aria-hidden="true"></i> Seleziona una
                        Rata
                    </p>
                    <div id="rata-desc"></div>
                    <hr/>
                </div>

            </div-->

        </div>

        <div class="col-lg-8 col-md-8 col-sm-8">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h5 class="blu-italia-base-color no-margin-top">Dati del Pagamento</h5>


                    <form action="#" class="form-horizontal form-horizontal-tributo"
                          th:object="${pagamento}" method="post">


                        <div class="form-group col-lg-12 col-md-12 col-sm-12">
                            <label class="control-label">Ente selezionato:</label>
                            <div class="form-control" th:text="*{ente.name}"/>
                        </div>

                        <div class="form-group col-lg-12 col-md-12 col-sm-12">
                            <label class="control-label">Tributo selezionato:</label>
                            <div class="form-control" th:text="*{tributo.nome}"/>
                        </div>

                        <div class="form-group form-group col-lg-12 col-md-12 col-sm-12">
                            <label class="control-label">Rata selezionata:</label>
                            <div class="form-control" th:text="*{rata.nome}"/>
                        </div>

                        <div class="form-group form-group col-lg-12 col-md-12 col-sm-12">
                            <label class="control-label">Importo:</label>
                            <div class="input-group">
                                <div class="input-group-addon">&euro;</div>
                                <div class="form-control" id="importo"
                                     th:text="${#numbers.formatDecimal(pagamento.importo, 1,'POINT',2,'COMMA')}"/>
                            </div>
                        </div>

                        <div class="form-group form-group col-lg-12 col-md-12 col-sm-12">
                            <label class="control-label">Causale:</label>
                          <textarea class="form-control" rows="3" th:field="*{causale}"
                                    disabled="disabled"></textarea>
                        </div>


                    </form>
                    <form action="http://serviziclienti.link.it/govpay-ndp-sym/wisp.jsp"
                          class="form-horizontal form-horizontal-tributo"
                          th:object="${pagamento}" method="post" id="formWisp">


                        <input type="hidden" id="idDominio" name="idDominio" th:value="${codDominio}"/>
                        <input type="hidden" id="keyPA" name="keyPA" th:value="*{pid}"/>

                        <input type="hidden" id="urlBack" name="urlBack" th:value="${urlBack}"/>
                        <input type="hidden" id="urlReturn" name="urlReturn" th:value="${urlReturn}"/>

                        <input type="hidden" id="enteCreditore" name="enteCreditore" th:value="*{ente.name}"/>
                        <input type="hidden" id="primitiva" name="primitiva" value="nodoInviaCarrelloRPT"/>
                        <input type="hidden" id="numPagamentiRPT" name="numPagamentiRPT" value="1"/>
                        <input type="hidden" id="stornoPagamento" name="stornoPagamento" value="SI"/>
                        <input type="hidden" id="bolloDigitale" name="bolloDigitale" value="NO"/>
                        <input type="hidden" id="terzoModelloPagamento" name="terzoModelloPagamento" value="NO"/>


                        <div class="form-group col-lg-8 text-center">
                            <button class="btn btn-warning">
                                <i class="glyphicon glyphicon-eur" aria-hidden="true"></i> Scegli il WISP
                            </button>
                        </div>

                    </form>
                    <form th:action="@{|${T(app.App).PAGAMENTO_SPONTANEO_ELIMINA}|}" th:object="${pagamento}"
                          method="post" class="form-horizontal form-horizontal-tributo" >

                       <div class="form-group col-lg-2 col-md-6 col-sm-6 text-center">
                            <button class="btn btn-warning">
                                <i class="glyphicon glyphicon-eur" aria-hidden="true"></i> Annulla
                            </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>


        <!--
        <div class="container">

            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="glyphicon glyphicon-eur" aria-hidden="true"></i>&nbsp;&nbsp;PAGAMENTO ONLINE
                        </div>
                        <div class="panel-body">

                            <div class="alert alert-success" th:unless="${#strings.isEmpty(message)}">
                                <span th:text="${message}"></span>
                            </div>
                            <div class="alert alert-danger" th:unless="${#strings.isEmpty(error)}">
                                <span th:text="${error}"></span>
                            </div>-->

        <!-- th:action="@{|${T(app.App).PAGAMENTO_INVIA_RPT}|} -->
        <!-- <form action="#"
               class="form-horizontal form-horizontal-tributo"
               th:object="${pagamento}" method="post">

             <fieldset>
                 <div class="form-group">
                     <label class="control-label">Ente selezionato:</label>
                     <div class="form-control" th:text="*{ente.name}"/>
                 </div>

                 <div class="form-group">
                     <label class="control-label">Tributo selezionato:</label>
                     <div class="form-control" th:text="*{tributo.nome}"/>
                 </div>

                 <div class="form-group">
                     <label class="control-label">Rata selezionata:</label>
                     <div class="form-control" th:text="*{rata.nome}"/>
                 </div>

                 <div class="form-group">
                     <label class="control-label">Importo:</label>
                     <div class="input-group">
                         <div class="input-group-addon">&euro;</div>
                         <div class="form-control" id="importo"
                              th:text="${#numbers.formatDecimal(pagamento.importo, 1,'POINT',2,'COMMA')}"/>
                     </div>
                 </div>

                 <div class="form-group">
                     <label class="control-label">Causale:</label>
                 <textarea class="form-control" rows="3" th:field="*{causale}"
                           disabled="disabled"></textarea>
                 </div>-->

        <!--div class="form-group" th:if="${pagamento.statoPagamento == 'DA_PAGARE'}">
            <button class="btn btn-warning">
                <i class="glyphicon glyphicon-eur" aria-hidden="true"></i> Paga adesso
            </button>
        </div-->
        <!--     </fieldset>
         </form>
     </div>
    </div>
    </div>
    <div class="col-md-6">
    <div class="panel panel-default">
     <div class="panel-heading">Stato del pagamento</div>
     <div class="panel-body">

         <form action="http://serviziclienti.link.it/govpay-ndp-sym/wisp.jsp"
               class="form-horizontal form-horizontal-tributo"
               th:object="${pagamento}" method="post">


             <input type="hidden" id="idDominio" name="idDominio" value="00975860768"/>
             <input type="hidden" id="keyPA" name="keyPA" th:value="*{pid}"/>
             <input type="hidden" id="urlBack" name="urlBack" th:value="${urlBack}"/>
             <input type="hidden" id="urlReturn" name="urlReturn" th:value="${urlReturn}"/>

             <input type="hidden" id="enteCreditore" name="enteCreditore" th:value="*{ente.name}"/>
             <input type="hidden" id="primitiva" name="primitiva" value="nodoInviaRPT"/>
             <input type="hidden" id="numPagamentiRPT" name="numPagamentiRPT" value="1"/>
             <input type="hidden" id="stornoPagamento" name="stornoPagamento" value="SI"/>
             <input type="hidden" id="bolloDigitale" name="bolloDigitale" value="NO"/>
             <input type="hidden" id="terzoModelloPagamento" name="terzoModelloPagamento" value="NO"/>


             <div th:text="*{statoPagamento}"/>

             <div class="form-group">
                 <button class="btn btn-warning">
                     <i class="glyphicon glyphicon-eur" aria-hidden="true"></i> Scegli il WISP
                 </button>
             </div>

         </form>
     </div>

    </div>

    <div class="panel panel-default">
     <div class="panel-heading">Anagrafica del debitore</div>
     <div class="panel-body">
         <div class="col-md-2">
             <i class="glyphicon glyphicon-user" aria-hidden="true"></i>
         </div>
         <div class="col-md-10">
             <p><span th:text="${pagamento.esecutore.firstname}"></span> <span
                     th:text="${pagamento.esecutore.lastname}"></span></p>
             <p><span th:text="${pagamento.esecutore.fiscalcode}"></span></p>
             <p><span th:text="${pagamento.esecutore.email}"></span></p>
         </div>
     </div>

    </div>

    </div>
    </div>

    </div>
    </div>-->
    </div>
</div>
<footer th:substituteby="page/fragments/footerTag :: footerTag"/>

</body>
</html>