<!DOCTYPE HTML>
<html lang="it" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      th:with="title=#{page.home.title}">

<head th:substituteby="page/fragments/headTag :: headTag">

    <title></title>
</head>

<body>
<div class="container" id="page_top">

    <div th:substituteby="page/fragments/navbarTag :: navbarTag"></div>
    <div class="modal fade" id="pleaseWaitDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1>Processing...</h1>
                </div>
                <div class="modal-body">
                    <div class="progress">
                        <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"
                             aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                            <span class="sr-only">40% Complete (success)</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row row-container">
        <div class="col-lg-12 col-md-12">
            <br class="hidden-xs hidden-sm"/>
            <p></p>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h5 class="blu-italia-base-color no-margin-top">Anagrafica del Debitore</h5>
                    <div class="media">
                        <!--div class="media-left media-middle">
                            <img class="media-object" th:src="@{/resources/css/img/user.png}" alt="User sample"/>
                        </div-->
                        <div class="media-body">
                            <p th:inline="text"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;
                                [[${session.ulogged.firstname}]] [[${session.ulogged.lastname}]]</p>
                            <p th:inline="text"><i class="fa fa-credit-card" aria-hidden="true"></i>&nbsp;[[${session.ulogged.fiscalcode}]]
                            </p>
                            <p th:inline="text"><i class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp;[[${session.ulogged.email}]]
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <h5 class="blu-italia-base-color no-margin-top">Stato del Pagamento</h5>
                    <div>
                        <blockquote><p>In attesa di scelta del WISP</p></blockquote>
                    </div>
                    <hr/>

                </div>
            </div>


        </div>

        <div class="col-lg-8 col-md-8 col-sm-8">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h5 class="blu-italia-base-color no-margin-top">Dati del Pagamento</h5>


                    <form action="#" class="form-horizontal form-horizontal-tributo"
                          th:object="${pagamento}" method="post">


                        <div class="form-group col-lg-12 col-md-12 col-sm-12">
                            <label class="control-label">Ente selezionato:</label>
                            <div class="form-control" th:text="*{ente.name}"/>
                        </div>

                        <div class="form-group col-lg-12 col-md-12 col-sm-12">
                            <label class="control-label">Pagamento selezionato:</label>
                            <div class="form-control" th:text="*{tributo.nome}"/>
                        </div>

                        <div class="form-group form-group col-lg-12 col-md-12 col-sm-12">
                            <label class="control-label">Rata selezionata:</label>
                            <div class="form-control" th:text="*{rata.nome}"/>
                        </div>

                        <div class="form-group form-group col-lg-12 col-md-12 col-sm-12">
                            <label class="control-label">Importo:</label>
                            <div class="input-group">
                                <div class="input-group-addon">&euro;</div>
                                <div class="form-control" id="importo"
                                     th:text="${#numbers.formatDecimal(pagamento.importo, 1,'POINT',2,'COMMA')}"/>
                            </div>
                        </div>

                        <div class="form-group form-group col-lg-12 col-md-12 col-sm-12">
                            <label class="control-label">Causale:</label>
                          <textarea class="form-control" rows="3" th:field="*{causale}"
                                    disabled="disabled"></textarea>
                        </div>


                    </form>
                    <form th:action="${pageWisp}"
                          class="form-horizontal form-horizontal-tributo"
                          th:object="${pagamento}" method="post" id="formWisp">


                        <input type="hidden" id="idDominio" name="idDominio" th:value="*{ente.codDominio}"/>
                        <input type="hidden" id="keyPA" name="keyPA" th:value="*{pid}"/>

                        <input type="hidden" id="urlBack" name="urlBack" th:value="${urlBack}"/>
                        <input type="hidden" id="urlReturn" name="urlReturn" th:value="${urlReturn}"/>

                        <input type="hidden" id="enteCreditore" name="enteCreditore" th:value="*{ente.name}"/>
                        <input type="hidden" id="primitiva" name="primitiva" value="nodoInviaCarrelloRPT"/>
                        <input type="hidden" id="numPagamentiRPT" name="numPagamentiRPT" value="1"/>
                        <input type="hidden" id="stornoPagamento" name="stornoPagamento" value="SI"/>
                        <input type="hidden" id="bolloDigitale" name="bolloDigitale" value="NO"/>
                        <input type="hidden" id="terzoModelloPagamento" name="terzoModelloPagamento" value="NO"/>
                        <input type="hidden" id="contoPoste" name="contoPoste" value="NO"/>
                        <input type="hidden" id="pagamentiModello2" name="pagamentiModello2" value="NO"/>
                        <input type="hidden" id="versioneInterfacciaWISP" name="versioneInterfacciaWISP" value="1.3"/>
                        <!--nuovi parametri!-->
                        <input type="hidden" id="ibanAccredito" name="ibanAccredito" th:value="${pagamento.rata.contoCorrente}"/>
                        <input type="hidden" id="importoTransazione" name="importoTransazione" th:value="${pagamento.importo}"/>

                        <input type="hidden" id="codiceLingua" name="codiceLingua" value="IT"/>

                        <div class="form-group col-lg-8 text-center">
                            <button class="btn btn-warning">
                                <i class="glyphicon glyphicon-eur" aria-hidden="true"
                                   onclick="$('#pleaseWaitDialog').modal('show');"></i> Procedi
                            </button>
                        </div>

                    </form>
                    <form th:action="@{|${T(app.App).PAGAMENTO_SPONTANEO_ELIMINA}|}" th:object="${pagamento}"
                          method="post" class="form-horizontal form-horizontal-tributo">

                        <div class="form-group col-lg-2 col-md-6 col-sm-6 text-center">
                            <button class="btn btn-warning">
                                <i class="glyphicon glyphicon-remove" aria-hidden="true"></i> Annulla
                            </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:substituteby="page/fragments/footerTag :: footerTag"/>

</body>
</html>