<!DOCTYPE HTML>
<html lang="it" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      th:with="title=#{page.home.title}">

<head th:substituteby="page/fragments/headTag :: headTag">

    <title></title>
</head>

<body>
<div class="container" id="page_top">

    <div th:substituteby="page/fragments/navbarTag :: navbarTag"></div>

    <div class="row row-container">

        <div class="col-lg-12 col-md-12">
            <br class="hidden-xs hidden-sm"/>
            <p>Per qualsiasi richiesta puoi utilizzare la form sulla destra per contattarci, previa
                autenticazione. Le risponderemo il prima possibile.</p>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h5 class="blu-italia-base-color no-margin-top">Regione Basilicata</h5>
                    <div class="media">
                        <div class="media-body">
                            <p th:inline="text"><i class="fa fa-home" aria-hidden="true"></i>&nbsp;<strong>Sede:</strong>
                                Viale Vincenzo Verrastro, 85100 Potenza, Italia</p>
                            <p th:inline="text"><i class="fa fa-phone"
                                                   aria-hidden="true"></i>&nbsp;<strong>Telefono:</strong> 800 29 20 20 - 0971 471372
                            </p>
                            <p th:inline="text"><i class="fa fa-fax"
                                                   aria-hidden="true"></i>&nbsp;<strong>Fax:</strong> 0971 010002
                            </p>
                            <p th:inline="text"><i class="fa fa-certificate"
                                                   aria-hidden="true"></i>&nbsp;<strong>P.IVA:</strong> 00975860768
                            </p>
                            <p th:inline="text"><i class="fa fa-desktop"
                                                   aria-hidden="true"></i>&nbsp;<strong>Help-desk:</strong> <a href="http://www.ibasilicata.it/web/guest/centro-servizi-help-desk" target="_blank">Centro servizi</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-8 col-md-8 col-sm-8">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h5 class="blu-italia-base-color no-margin-top">Contattaci</h5>
                    <div sec:authorize="${!isAuthenticated()}">
                        <a href="#" th:href="@{${T(app.App).CONTATTI_AUTH}}">Effettua la login per inviare una
                            richiesta</a>
                    </div>
                    <form th:action="@{${T(app.App).CONTATTI_AUTH}}" class="form"
                          th:object="${mail}" method="post" sec:authorize="${isAuthenticated()}">

                        <div class="alert alert-warning" th:if="${#fields.hasErrors('*')}">
                            <ul>
                                <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is
                                    incorrect
                                </li>
                            </ul>
                        </div>
                        <div class="alert alert-success" th:unless="${#strings.isEmpty(message)}">
                            <span th:text="${message}"></span>
                        </div>
                        <div class="alert alert-danger" th:unless="${#strings.isEmpty(error)}">
                            <span th:text="${error}"></span>
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12">
                            <label for="name">Nominativo</label>
                            <input type="text" class="form-control" th:field="*{name}"
                                   th:disabled="disabled"/>

                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12">
                            <label for="email" >Email</label>
                            <input type="text" class="form-control" th:field="*{email}"
                                   th:disabled="disabled"/>
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12">
                            <label for="text">Testo</label>
                            <textarea class="form-control" rows="5" th:field="*{text}"/>
                        </div>
                        <br/>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 text-center">
                            <button class="btn btn-primary"><span
                                    class="fa fa-send"></span>
                                Invia
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:substituteby="page/fragments/footerTag :: footerTag"/>
</body>
</html>