<!DOCTYPE HTML>
<html lang="it" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      th:with="title=#{page.home.title}">

<head th:substituteby="page/fragments/headTag :: headTag">

    <title></title>
</head>

<body>
<div class="container" id="page_top">

    <div th:substituteby="page/fragments/navbarTag :: navbarTag"></div>

    <div class="container">

        <div class="row row-container">
            <div class="col-md-6 col-xs-12 col-sm-12">
                <div class="box_text box_text_large clearfix">
                    <h2 class="title_large">Cos'&egrave; pagoPA?</h2>
                    <p style="text-align: justify">Il <b>PagoPA &egrave; </b> un sistema di pagamento elettronico che prevede l'opportunit&agrave;,
                        per l'utente che usufruisce di un servizio online, di scegliere la banca o l'istituto di pagamento
                        (definiti come "Prestatore dei Servizi di Pagamento" PSP), tra quelli che si sono accreditati a
                        livello nazionale, con cui effettuare la transazione. </p>
                    <p style="text-align: justify">Con questo sistema, al fine di garantire una maggiore trasparenza, l'utente non &egrave; pi&ugrave; obbligato a
                        effettuare il pagamento con l'istituto bancario selezionato dall'Ente, ma pu&ograve; valutare le condizioni
                        offerte da una pluralit&agrave; di PSP accreditati su PagoPA e scegliere quello che ritiene pi&ugrave; conveniente.</p>
                </div>
            </div><!-- /col-md-6 -->
            <div class="col-md-6 hidden-sm hidden-xs">
                <div class="thumb_container clearfix">
                    <img alt="sample"  th:src="@{/resources/css/img/sample_1.png}" class="img-responsive"/>
                </div>
            </div><!-- /col-md-6 -->
        </div>
        <!--div class="row row-container">
            <div class="col-md-6 hidden-sm hidden-xs">
                <div class="thumb_container clearfix">
                    <img alt="sample" th:src="@{/resources/css/img/sample_2.png}" class="img-responsive"/>
                </div>
            </div> -->
            <!--div class="col-md-6 col-xs-12 col-sm-12">
                <div class="box_text box_text_large clearfix">
                    <h2 class="title_large">Piena compatibilit&agrave;</h2>
                    <p>Con il Sistema di Gestione delle Identit&agrave; IMS non &egrave; pi&ugrave; un problema dover
                        utilizzare sempre lo stesso Personal Computer per accedere ai servizi della Regione
                        Basilicata.<br/><br/>L'accesso ai sistemi &egrave; infatti garantito anche se stai utilizzando
                        dispositivi mobili quali <b>Smartphone</b> e <b>Tablet</b> con una totale compatibilit&agrave;
                        in fase di registrazione, login e navigazione.</p>
                </div>
            </div>
        </div>-->
        <!--div class="row row-container">
            <div class="col-md-6 col-xs-12 col-sm-12">
                <div class="box_text box_text_large clearfix">
                    <h2 class="title_large">Accesso multicanale</h2>
                    <p>Con questo sistema, al fine di garantire una maggiore trasparenza, l'utente non &egrave; pi&ugrave; obbligato a
                        effettuare il pagamento con l'istituto bancario selezionato dall'Ente, ma pu&ograve; valutare le condizioni
                        offerte da una pluralità di PSP accreditati su PagoPA e scegliere quello che ritiene più conveniente.</p>
                </div>
            </div>
            <div class="col-md-6 hidden-sm hidden-xs">
                <div class="thumb_container clearfix">
                    <img alt="sample" th:src="@{/resources/css/img/sample_3.png}" class="img-responsive"/>
                </div>
            </div>
        </div>-->
        <div class="row row-container">
            <div class="col-md-12 col-xs-12 col-sm-12">
                <div class="box_text box_text_large clearfix">
                    <p>Per maggiori informazioni o per ricevere assistenza clicca <a href="http://www.ibasilicata.it/web/guest/centro-servizi-help-desk">qui.</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:substituteby="page/fragments/footerTag :: footerTag"/>
</body>
</html>