<!DOCTYPE HTML>
<html lang="it" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      th:with="title=#{page.home.title}">

<head th:substituteby="page/fragments/headTag :: headTag">

    <title></title>
</head>

<body>
<div class="container-fluid" id="page_top">

    <div th:substituteby="page/fragments/navbarTag :: navbarTag"></div>

    <div class="row row-offcanvas row-offcanvas-left row-container">
        <div th:substituteby="page/fragments/breadcrumbTag :: breadcrumbMenu"></div>

        <div class="col-md-9">
            <div class="panel panel-default no-border-radius">
                <div class="panel-heading"><i class="fa fa-building-o" aria-hidden="true"></i>&nbsp;&nbsp;Enti abilitati<a
                        th:href="@{${T(app.App).ENTE}}" class="pull-right btn btn-primary btn-xs">
                    Aggiungi nuovo
                </a></div>
                <table class="table storico table-condensed table-striped table-bordered table-hover table-responsive"
                       th:unless="${#lists.isEmpty(enti)}">
                    <thead>
                    <tr class="info">
                        <th>Denominazione</th>
                        <th>C.F./P.IVA</th>
                        <th>Operazioni</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="ente : ${enti}">
                        <td th:text="${ente.name}"></td>
                        <td th:text="${ente.fiscalCode}"></td>
                        <td class="text-center">
                            <a th:href="@{|${T(app.App).ENTE}/${ente.id}|}" class="btn btn-warning btn-sm">
                                Modifica
                            </a>
                            <a class="btn btn-danger btn-sm" th:href="@{|${T(app.App).ENTE}/${ente.id}|(op=D)}">
                                Elimina
                            </a>
                        </td>
                    </tr>

                    </tbody>
                </table>

                <div class="panel-body" th:if="${#lists.isEmpty(enti)}">
                    Nessun ente presente.
                </div>
            </div>
            <div th:substituteby="page/fragments/paginatorTag :: paginatorTag(${page})"></div>
        </div>


        <!--div class="panel panel-default">
            <div class="panel-heading">
                <i class="glyphicon glyphicon-certificate"></i>&nbsp;&nbsp;ENTE
                <a class="pull-right btn btn-info btn-xs" th:href="@{${T(app.App).ENTE}}">
                    <i class="glyphicon glyphicon-plus"></i> Nuova
                </a>
            </div>

            <table class="table table-condensed table-striped table-bordered table-hover table-responsive"
                   th:unless="${#lists.isEmpty(enti)}">
                <tr class="info">
                    <th>Nome</th>
                    <th>Codice Fiscale</th>
                    <th></th>
                </tr>
                <tr th:each="ente : ${enti}">
                    <td th:text="${ente.name}"></td>
                    <td th:text="${ente.fiscalCode}"></td>
                    <td class="text-center">
                        <a class="btn btn-primary btn-xs" th:href="@{|${T(app.App).ENTE}/${ente.id}|}">
                            <i class="glyphicon glyphicon-edit"></i> Apri
                        </a>
                        &nbsp;&nbsp;&nbsp;
                        <a class="btn btn-danger btn-xs" th:href="@{|${T(app.App).ENTE}/${ente.id}|(op=D)}">
                            <i class="glyphicon glyphicon-remove"></i> Elimina
                        </a>
                    </td>
                </tr>
            </table>

            <div class="panel-body" th:if="${#lists.isEmpty(enti)}">
                Nessun ente presente.
            </div>

        </div-->
    </div>

</div>
<footer th:substituteby="page/fragments/footerTag :: footerTag"/>

</body>
</html>