<!DOCTYPE HTML>
<html lang="it" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      th:with="title=#{page.home.title}">

<head th:substituteby="page/fragments/headTag :: headTag">

    <title></title>
</head>

<body>
<div class="container-fluid" id="page_top">

    <div th:substituteby="page/fragments/navbarTag :: navbarTag"></div>

    <div class="row row-offcanvas row-offcanvas-left row-container">
        <div th:substituteby="page/fragments/breadcrumbTag :: breadcrumbMenu"></div>
        <div class="col-md-9">
            <div class="panel panel-default no-border-radius">
                <div class="panel-heading"><i class="fa fa-building-o" aria-hidden="true"></i>&nbsp;&nbsp;Lista Tributi<a
                        th:href="@{${T(app.App).TRIBUTO}}" class="pull-right btn btn-primary btn-xs">
                    Aggiungi nuovo
                </a></div>
                <table class="table storico table-condensed table-striped table-bordered table-hover table-responsive"
                       th:unless="${#lists.isEmpty(tributi)}">
                    <thead>
                    <tr class="info">
                        <th >Ente</th>
                        <th >Codice</th>
                        <th>Nome</th>
                        <th >Resp. Procedimento:</th>
                        <th >Tipologia Tributo:</th>
                        <th >Anno di Riferimento:</th>
                        <th>Operazioni</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="tributo : ${tributi}">
                        <td th:text="${tributo.ente.name}"></td>
                        <td th:text="${tributo.codice}"></td>
                        <td th:text="${tributo.nome}"></td>
                        <td th:text="${tributo.responsabile}"></td>
                        <td th:text="${tributo.tipologiaTributo.nome}"></td>
                        <td class="text-right" th:text="${tributo.anno}"></td>
                        <td class="text-center">
                            <a th:href="@{|${T(app.App).TRIBUTO}/${tributo.id}|}" class="btn btn-warning btn-sm">
                                Modifica
                            </a>
                            <a class="btn btn-danger btn-sm" th:href="@{|${T(app.App).TRIBUTO}/${tributo.id}|(op=D)}">
                                Elimina
                            </a>
                        </td>
                    </tr>

                    </tbody>
                </table>

                <div class="panel-body" th:if="${#lists.isEmpty(tributi)}">
                    Nessun ente presente.
                </div>
            </div>
            <div th:substituteby="page/fragments/paginatorTag :: paginatorTag(${page})"></div>
        </div>
        <!--div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="glyphicon glyphicon-book"></i>&nbsp;&nbsp;TRIBUTI
                <a class="pull-right btn btn-info btn-xs" th:href="@{${T(app.App).TRIBUTO}}">
                    <i class="glyphicon glyphicon-plus"></i> Nuovo
                </a>
            </div>

            <table class="table table-condensed table-striped table-bordered table-hover table-responsive"
                   th:unless="${#lists.isEmpty(tributi)}">
                <tr class="info">
                    <th class="text-center">Ente</th>
                    <th class="text-center">Codice</th>
                    <th class="text-center">Nome</th>
                    <th class="text-center">Resp. Procedimento:</th>
                    <th class="text-center">Tipologia Tributo:</th>
                    <th class="text-center">Anno di Riferimento:</th>
                    <th></th>
                </tr>

                <tr th:each="tributo : ${tributi}">
                    <td th:text="${tributo.ente.name}"></td>
                    <td th:text="${tributo.codice}"></td>
                    <td th:text="${tributo.nome}"></td>
                    <td th:text="${tributo.responsabile}"></td>
                    <td th:text="${tributo.tipologiaTributo.nome}"></td>
                    <td class="text-right" th:text="${tributo.anno}"></td>
                    <td class="text-center">
                        <a class="btn btn-primary btn-xs" th:href="@{|${T(app.App).TRIBUTO}/${tributo.id}|}">
                            <i class="glyphicon glyphicon-edit"></i> Apri
                        </a>
                        &nbsp;&nbsp;&nbsp;
                        <a class="btn btn-danger btn-xs" th:href="@{|${T(app.App).TRIBUTO}/${tributo.id}|(op=D)}">
                            <i class="glyphicon glyphicon-remove"></i> Elimina
                        </a>
                    </td>
                </tr>
            </table>

            <div class="panel-body" th:if="${#lists.isEmpty(tributi)}">
                Nessun tributo presente.
            </div>

        </div>
    </div-->
    </div>
</div>
<footer th:substituteby="page/fragments/footerTag :: footerTag"/>


</body>
</html>
